body {
  background-color: #fafafa;
}

main {
  display: flex;
  flex-flow: column wrap;
  width: 90%;
  margin: 0 auto;
}

main p {
  padding: 10px;
}

main .first {
  display: flex;
  margin: 5px 0;
  border-bottom: 1px solid #d0d6d9;
}

main .first .fir-word {
  margin-left: -10px;
}

main .first .fir-word:hover {
  background-color: #29b078;
  color: #fff;
}

main .direction {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  border-bottom: 1px solid #edf1f2;
}

main .direction a {
  padding: 10px;
  color: #333;
}

main .direction a:hover {
  background-color: #29b078;
  color: #fff;
}

main .details .title {
  display: block;
  color: #333;
  font-weight: bold;
  padding: 20px 0;
  margin: 20px 10px;
  border-bottom: 1px solid #d0d6d9;
}

main .details .form {
  display: flex;
  flex-flow: row wrap;
}

main .details .form .table {
  position: relative;
  overflow: hidden;
  width: 380px;
  word-break: break-all;
  margin: 10px;
  background-color: #fff;
  box-shadow: 0 0 1px .5px #e2e2e2;
}

main .details .form .table:hover .roll {
  left: 0;
}

main .details .form .table .roll {
  position: absolute;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 380px;
  left: -380px;
  transition: all 0.5s;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
}

main .details .form .table .roll p {
  padding: 10px 50px;
  font-size: 16px;
}

main .details .form .table p {
  padding: 5px;
  font-size: 13px;
}

main .details .form .table .tab {
  display: flex;
  border: 1px solid #edf1f2;
  margin: -1px 0;
}

main .details .form .table .tab .people {
  margin: 10px;
}

main .details .form .table .tab .tab-front {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}

main .details .form .table .tab .tab-front .strong {
  font-weight: bold;
}

main .details .form .table .tab .tab-one {
  display: flex;
  flex: 1;
  align-items: center;
  border-left: 1px solid #edf1f2;
  margin-left: -1px;
  color: #999;
}

main .details .form .table .tab .tab-one span {
  padding-left: 10px;
  color: #f01400;
  font-size: 12px;
}

main .details .form .table .tab .tab-one .color {
  color: #333;
  padding-left: 0;
}

main .details .form .table .tab .tab-one img {
  padding: 0 3px;
}

main .details .form .table .tab .tab-two {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #999;
}

main .details .form .table .tab .tab-three {
  flex: 1.5;
}

main .details .form .table .tab .tab-three .tab-thr-one {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid #edf1f2;
  margin: -1px;
}

main .details .form .table .tab-four {
  font-size: 14px;
  border: 1px solid #edf1f2;
  margin-bottom: -1px;
  font-weight: bold;
}

main .details .form .table .tab-four span {
  font-size: 14px;
  color: #f01400;
  font-weight: bold;
}

main .details .form .table .tab-five {
  border: 1px solid #edf1f2;
  color: #999;
}

@media screen and (min-width: 1334px) {
  main {
    max-width: 1200px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1333.98px) {
  main {
    width: 80%;
  }
  main .form {
    justify-content: space-between;
  }
}

@media screen and (max-width: 999.98px) and (min-width: 440px) {
  main {
    max-width: 400px;
  }
}

@media screen and (max-width: 439.98px) {
  main {
    width: 100% !important;
  }
  main .table {
    width: 100% !important;
  }
  main .table .tab-one span {
    padding-left: 0 !important;
  }
  main .table:hover .roll {
    left: 0 !important;
  }
  main .table .roll {
    width: 100vw !important;
    left: -100vw !important;
  }
}
