html {
  max-width: 768px;
  min-width: 320px;
  margin: 0 auto;
}

body {
  margin: 0 auto;
  padding-top: 44px;
}

p {
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 768px;
  min-width: 320px;
  background-color: #68ccd5;
}

header img {
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -9.25px;
}

header p {
  text-align: center;
  padding: 12px;
  color: #fff;
}

nav {
  display: flex;
  align-items: center;
  height: 140px;
  background: url(img/bg.png) center center no-repeat;
  background-size: 100% auto;
}

nav > img {
  margin-left: 20px;
}

nav .right {
  display: flex;
  flex-flow: column nowrap;
  padding-left: 20px;
}

nav .right .one,
nav .right .two {
  display: flex;
  align-items: baseline;
  padding: 5px 0;
}

nav .right .one p,
nav .right .two p {
  padding-right: 10px;
  color: #fff;
}

nav .right .one .big,
nav .right .two .big {
  padding-right: 20px;
}

nav .right .one .small-one,
nav .right .two .small-one {
  font-size: 14px;
}

nav .right .one .small-two,
nav .right .two .small-two {
  font-size: 12px;
}

nav .right .one > img,
nav .right .two > img {
  padding-right: 10px;
}

main .one {
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid #e1e5e7;
}

main .one .piece {
  width: 2px;
  height: 13px;
  background-color: #68ccd5;
  border-radius: 1px;
  margin: 0 10px;
}

main .one > p {
  padding: 15px 0;
}

main .two {
  position: relative;
  margin-left: 5px;
  border-bottom: 1px solid #e1e5e7;
}

main .two span {
  position: absolute;
  color: #e1e5e7;
  left: 75px;
}

main .two ul {
  display: flex;
  margin-left: -5px;
}

main .two ul li {
  width: 65px;
  padding: 0 5px;
  list-style-image: url(img/star.png);
}

main .three,
main .four,
main .five,
main .six {
  display: flex;
  height: 50px;
  margin-left: 5px;
  align-items: center;
  border-bottom: 1px solid #e1e5e7;
}

main .three p,
main .four p,
main .five p,
main .six p {
  padding: 0 15px;
}

main .three span,
main .four span,
main .five span,
main .six span {
  color: #e1e5e7;
}

main .six .small {
  font-size: 14px;
}

main .six .nowrap {
  white-space: nowrap;
}

main .gray {
  color: #999;
}

main .red {
  color: #e26163;
}

footer {
  position: fixed;
  width: 100%;
  max-width: 768px;
  min-width: 320px;
  bottom: 0;
  height: 60px;
  background-color: #fff;
}

footer .foot {
  display: flex;
  align-items: center;
  height: 100%;
}

footer .foot a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  width: 50%;
  height: 40px;
  margin: 0 5px;
  border-radius: 5px;
}

footer .foot .left {
  background-color: #fff;
  border: 2px solid #68ccd5;
  color: #68ccd5;
}

footer .foot .right {
  background-color: #68ccd5;
  border: 2px solid #68ccd5;
  color: #fff;
}
