@charset "UTF-8";
body {
  margin: 0 auto;
  padding-top: 52px;
  background-color: #f0f0f0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
  -webkit-tap-highlight-color: transparent;
}

header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 44px;
  background-color: #29bde0;
}

header img {
  padding: 15px;
}

input {
  display: none;
}

nav {
  position: fixed;
  top: 44px;
  left: -50vw;
  width: 50vw;
  height: 100vh;
  z-index: 10;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #d0d0d0;
  font-size: 18px;
  color: #333;
}

nav ul li a img {
  padding: 0 5px;
}

nav ul li a .nav-word {
  display: flex;
}

.content {
  transition: all 0.5s ease-in-out;
}

#side-nav:checked ~ nav {
  left: 0;
}

#side-nav:checked ~ .content {
  transform: translateX(50vw);
}

/*侧边导航栏*/
.menu {
  position: relative;
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #d0d0d0;
  height: 60.8px;
}

.menu p {
  text-align: center;
  padding: 20px;
  font-size: 18px;
  color: #9a9a9a;
}

.menu a {
  position: absolute;
  width: 12px;
  height: 20px;
  top: 50%;
  right: 10px;
  margin-top: -10px;
  background-image: url(img/back.png);
  background-size: 12px 20px;
}

main {
  position: relative;
  width: 90%;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #d0d0d0;
  margin-top: 10px;
}

main .top {
  text-align: center;
  padding: 15px;
  font-size: 20px;
  color: #fbb435;
  border-bottom: 1px solid #fbb435;
}

main .center {
  width: 80%;
  height: 75px;
  margin: 20px auto;
  background-color: #69d1e9;
}

main .center a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

main .after {
  text-align: center;
}

main .last {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
}

main .last .circle {
  width: 10px;
  height: 10px;
  margin: 0 2.5px;
  border-radius: 50%;
}

main .last .circle:link {
  background-color: #d0d0d0;
}

main .last .circle:visited {
  background-color: #d0d0d0;
}

main .last .circle:hover {
  background-color: #f115e6;
}

main .last .circle-else {
  width: 10px;
  height: 10px;
  margin: 0 2.5px;
  border-radius: 50%;
}

main .last .circle-else:link {
  background-color: #69d1e9;
}

main .last .circle-else:visited {
  background-color: #69d1e9;
}

main .last .circle-else:hover {
  background-color: #f115e6;
}

main .pass {
  position: absolute;
  top: 50%;
  right: 5%;
  width: 14px;
  height: 28px;
  margin-top: -7px;
  margin-right: -10px;
  background: url(img/next.png);
  background-size: 14px 28px;
}
