html {
    font-size: 62.5%;
}
body {
    margin: 13rem 0 10rem ;
    background-color: #29bde0;
}
p {
    font-size: 1.5rem;
    margin: 0;
}
a {
    text-decoration: none;
 }
 a:focus {
    background-color: transparent;
}
button {
    outline: none;
}
.head1 {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10.84em;
    background-color: #29bde0;
}
.head2 {
    display: flex;
    justify-content: space-between;
}
.word4 {
    font-size: 2rem;
    color: #ffffff;
    margin:0.7rem;
}
.start1 {
    position: relative;
    width: 100%;
    height: 4.1rem;
    background-color: #b9e9f5;
}
.start2 {
    float: left;
    margin: 1rem;
}
.play {
    float: right;
    width: 2.8rem;
    height: 2.8rem;
    margin: 1rem;
    background-image: url('play.png');
    background-repeat: no-repeat;
}
.music {
    position: absolute;
    top: 0;
    right: 0;
    width: 20rem;
    transform: rotate(180deg);
    opacity: 0;
}
.triangle {
    width: 0;
    height: 0;
    margin-left: 3rem;
    border: 7px solid black;
    border-top-color: #b9e9f5;
    border-bottom: none;
    border-left-color: transparent;
    border-right-color: transparent;
}
.word3 {
    margin-left: 3rem;
    color: #ffffff;
}
.body1 {
    display: flex;
    justify-content: space-around;
}

.body2 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.body3 {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    width: 20vw;
    height: 20vw;
    border: 0.6vw solid #ffffff;
    background-color: #f5c97b;
  
}
.body4{
    width: 21vw;
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    visibility: hidden;
}
.body2:hover .body4 {
    visibility: visible;
}
.word1 {
   
    padding-bottom: 4vw;
    text-align: center;
    font-size: 5vw;
    padding-top: 5vw;
}
.word2 {
    font-size: 3vw;
    background-color: #83b09a;
    text-align: center;
    color: #ffffff;
}




.foot1 {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10rem;
    background-color: #29bde0;
}
.foot2 {
    display: flex;
    justify-content: center;
    width: 80%;
    background-color: #fbb435;
    margin: 2rem auto;
}
.foot3 {
    margin: 1rem 0;
    color: #ffffff;
    font-size: 2.5rem;
}
.list {
    width: 2rem;
    height: 2rem;
    margin: 1rem;
    border: none;
    background-image: url('list.png');
    background-color: #29bde9;
    background-repeat: no-repeat;
}
.close {    width: 2rem;
    height: 2rem;
    margin: 1rem;
    border: none;
    background-image: url('close.png');
    background-color: #29bde9;
    background-repeat: no-repeat;
}

.bg {
    background-image: url('body.png');
    background-size: 18.75vw 4.6875vw;
}

.bg-dagger {
    width: 4.6875vw; height: 4.6875vw;
    background-position:  -0 -0;
}


.bg-search {
    width: 4.6875vw; height: 4.6875vw;
    background-position:  -4.6875vw -0;
}


.bg-aim {
    width: 4.6875vw; height: 4.6875vw;
    background-position:  -9.375vw -0;
}


.bg-cross {
    width: 4.6875vw; height: 4.6875vw;
    background-position:  -14.0625vw -0;
}

