html {
    font-size: 62.5%;
}
body {
    margin: 0 auto;
    background-color: #f0f0f0;
    margin-top: 6.4rem;

}
p {
    font-size: 1.6rem;
    color: #787878;
}
a {
    text-decoration: none;
 }
 a:focus {
    background-color: transparent;
}
button {
    border: none;
    outline: none;
}
.bg {
background: url('css-top.png');
background-size: 8.84rem 4.29rem;
}
.bg-list {
    width: 2.21rem; 
    height: 2.21rem;
    background-position: -2.99rem -0.26rem;
}
.bg-back {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 1.56rem; 
    height: 2.6rem;
    background-position: -6.76rem -0.26rem;

}
.bg-san {
    position: absolute;
    top: 48%;
    right: 3%;
    width: 1.82rem;
    height: 3.64rem;
    background-position: -0.52rem -0.65rem;
}
.head1 {
position: fixed;
top: 0;
width: 100%;
background-color: #29bde0;
padding: 1.35rem;
z-index: 1;
}
.head2 {
    position: relative;
   margin: 1rem;
   margin-bottom: 1.5rem;
   background-color: #ffffff;
   border: 1px solid #c9c9c9;
}
.head3 {
    text-align: center;
    margin: 2rem 0;
    font-size: 1.7rem;
    color: #9a9a9a;
}
.word1 {
    color: #fbb435;
    font-size: 2rem;
}
.word2 {
    color: #fff;

}
.box1{
position: relative;
    background-color: #ffffff;
    border: 1px solid #c9c9c9;
    margin: 1rem;
    margin-top: 1.5rem;
}
.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fbb435;
    height: 5.5rem;
    width: 100%;
    border-bottom: 1px solid #fbb435;
    margin-bottom: 1.5rem;
}
.box3 {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.box4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
    width: 80%;
    background-color: #69d1e9;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.circle {
    width: 10px;
    height: 10px;
    padding: 0;
    border-radius: 50%;
    background-color: #c9c9c9;
    
}
.circle:hover {
    background-color: #69d1e9;
}